<!DOCTYPE HTML>
<html>
  <head>
    <h1>I am an H1</h1>
  </head>
  <body>
    <form action="/apiURL" method="post">
      <input type='text' name='apiURL' placeholder='API URL to be scanned'></input>
      <input type="submit" value="Submit">
    </form>
    <form action="/resetAPI" method="post">
      <input type="submit" value="Reset">
    </form>
    <p>{{apiURL}}</p>
  </body>
</html>
